.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 9999;
  align-items: center;
  justify-content: center;
  background-color: #000;

  @media (max-width: 600px) {
    transform: scale(2);
  }
}

.lottie-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .loading-animation {
    width: 100%;
    object-fit: cover;
  }
}
