.nav {
  --animation-duration: 400ms;

  z-index: 1000;
  position: fixed;
  left: 0;
  top: 80dvh;
  width: 100%;
  height: 20dvh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );

  display: flex;
  padding: 3.6dvh 0;
  align-items: center;
  justify-content: center;

  &__wrapper {
    width: auto;
    padding: 0.5dvw;
    height: 12dvh;
    display: flex;
    min-width: 2dvw;
    border-radius: 1dvw;
    backdrop-filter: blur(1px);
    background-color: #4a4a4a90;
    transition: all 1s ease-in-out;

    &__logo {
      gap: 1dvw;
      display: flex;
      padding: 0 1dvw;
      align-items: center;
      border-radius: 0.75dvw;
      text-decoration: none;
      justify-content: center;
      transition: background-color 1s ease-in-out;
      background-color: rgba(10, 10, 10, 0.9);

      h1 {
        font-size: 1.5dvw;
        color: #ffffff;
        font-family: var(--font-trade-winds);
      }

      &__current-route {
        font-size: 1.2dvw;
        padding-left: 1dvw;
        color: #e1e1e1;
        border-left: 1px solid rgb(33, 33, 33);
      }
    }

    &__links {
      display: flex;
      padding: 0.5dvw;
      margin-left: 0.5dvw;
      align-items: center;
      border-radius: 0.75dvw;
      justify-content: center;
      background-color: #3e3e3e;
      transition: all 1s ease-in-out;

      &__wrapper {
        gap: 0.5dvw;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        &__link {
          z-index: 1;
          height: 100%;
          display: flex;
          font-size: 1.1dvw;
          overflow: hidden;
          position: relative;
          align-items: center;
          border-radius: 0.5dvw;
          text-decoration: none;
          justify-content: center;
          color: rgb(228, 228, 228);

          padding: 0 1dvw;
          border: 1px solid rgb(82, 82, 82);
          transition: all var(--animation-duration) ease-in-out;

          .staggered-text {
            transition: all var(--animation-duration) ease-in-out;

            span {
              position: relative;
              display: inline-block;
              transform: translateY(0);
              transition: all var(--animation-duration) ease-in-out;
              transition-delay: calc(25ms * var(--i));

              &::before {
                position: absolute;
                font-size: 1.1dvw;
                color: #fff;
                font-weight: 500;
                top: 10dvh;
                content: attr(data-hover);
                transform: translate3d(0, 0, 0);
                white-space: pre;
              }
            }
          }

          &::before {
            content: "";
            z-index: -1;
            left: 0;
            top: 0;
            scale: 2;
            right: 0;
            bottom: 0;
            overflow: hidden;
            position: absolute;
            border-radius: 100%;
            transition: all var(--animation-duration) ease-in-out;
            background-color: #181818;
            transform: translate(-100%, 100%);
          }

          &:hover {
            color: var(--white);
            border: 1px solid #181818;

            .staggered-text span {
              transform: translateY(-10dvh);
              transition-delay: calc(25ms * var(--i));
            }

            &::before {
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              transform: translate(0, 0);
            }
          }

          &.active {
            border-color: #361a46;
            background-color: #361a46;
            color: var(--purple-light);
          }
        }
      }
    }

    &__external {
      gap: 0.5dvw;
      display: flex;
      align-items: center;
      border-radius: 1.25dvw;

      a {
        z-index: 1;
        height: 100%;
        display: flex;
        padding: 0 1dvw;
        color: white;
        overflow: hidden;
        font-size: 1.25dvw;
        position: relative;
        align-items: center;
        text-decoration: none;
        border-radius: 0.75dvw;
        justify-content: center;
        transition: all 1s ease-in-out;
        border: 1px solid rgba(24, 24, 24, 0.9);
        background-color: rgba(24, 24, 24, 0.9);

        &.blogs-link {
          padding: 0 1.5dvw;
        }

        &:hover {
          color: black;
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          z-index: -1;
          top: 100%;
          bottom: 0;
          right: 100%;
          background-color: white;
          transition: all 400ms ease-in-out;
          border-radius: 100%;
        }

        &:hover::before {
          top: 0;
          right: 0;
          scale: 2;
        }
      }
    }
  }

  @media (max-width: 600px) {
    top: 83dvh;

    &__wrapper {
      gap: 1dvw;
      padding: 1.5dvw;
      height: 12dvh;
      border-radius: 2dvw;

      &__logo {
        padding: 0 4dvw;
        border-radius: 2dvw;

        h1 {
          font-size: 5dvw;
        }
      }

      &__links {
        &__wrapper {
          gap: 1dvw;
          padding: 1dvw;
          border-radius: 2dvw;

          &__link {
            font-size: 5dvw;
            padding: 0 3dvw;
            border-radius: 2dvw;

            .staggered-text {
              span {
                &::before {
                  position: absolute;
                  font-size: 5dvw;
                }
              }
            }
          }
        }
      }

      &__external {
        display: none;
      }
    }
  }
}
