@import url("https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Neue Haas Display roman";
  src: url("/assets/font/neue/NeueHaasDisplayRoman.ttf");
}

@font-face {
  font-family: "Neue Haas Display roman italic";
  src: url("/assets/font/neue/NeueHaasDisplayRomanItalic.ttf");
}

@font-face {
  font-family: "Neue Haas Display medium";
  src: url("/assets/font/neue/NeueHaasDisplayMediu.ttf");
}

@font-face {
  font-family: "Neue Haas Display medium italic";
  src: url("/assets/font/neue/NeueHaasDisplayMediumItalic.ttf");
}

@font-face {
  font-family: "Neue Haas Display bold";
  src: url("/assets/font/neue/NeueHaasDisplayBold.ttf");
}

@font-face {
  font-family: "Neue Haas Display bold italic";
  src: url("/assets/font/neue/NeueHaasDisplayBoldItalic.ttf");
}

@font-face {
  font-family: "Neue Haas Display black";
  src: url("/assets/font/neue/NeueHaasDisplayBlack.ttf");
}

@font-face {
  font-family: "Neue Haas Display black italic";
  src: url("/assets/font/neue/NeueHaasDisplayBoldItalic.ttf");
}

@font-face {
  font-family: "Neue Haas Display light";
  src: url("/assets/font/neue/NeueHaasDisplayLight.ttf");
}

@font-face {
  font-family: "Neue Haas Display light italic";
  src: url("/assets/font/neue/NeueHaasDisplayLightItalic.ttf");
}

@font-face {
  font-family: "Neue Haas Display thin";
  src: url("/assets/font/neue/NeueHaasDisplayThin.ttf");
}

@font-face {
  font-family: "Neue Haas Display thin italic";
  src: url("/assets/font/neue/NeueHaasDisplayXThinItalic.ttf");
}

@font-face {
  font-family: "Neue Haas Display extra thin";
  src: url("/assets/font/neue/NeueHaasDisplayXThin.ttf");
}

@font-face {
  font-family: "Neue Haas Display extra thin italic";
  src: url("/assets/font/neue/NeueHaasDisplayXThinItalic.ttf");
}

:root {
  --mint: #89e5ff;
  --white: #ffffff;
  --black: #000000;
  --purple: #b089ff;
  --dull-mint: #001d34;
  --dull-white: #dbdbdb;
  --light-black: #0d0d0d;
  --dull-purple: #130038;

  --font-neue-roman: "Neue Haas Display roman", sans-serif;
  --font-neue-roman-italic: "Neue Haas Display roman italic", sans-serif;
  --font-neue-medium: "Neue Haas Display medium", sans-serif;
  --font-neue-medium-italic: "Neue Haas Display medium italic", sans-serif;
  --font-neue-bold: "Neue Haas Display bold", sans-serif;
  --font-neue-bold-italic: "Neue Haas Display bold italic", sans-serif;
  --font-neue-black: "Neue Haas Display black", sans-serif;
  --font-neue-black-italic: "Neue Haas Display black italic", sans-serif;
  --font-neue-light: "Neue Haas Display light", sans-serif;
  --font-neue-light-italic: "Neue Haas Display light italic", sans-serif;
  --font-neue-thin: "Neue Haas Display thin", sans-serif;
  --font-neue-thin-italic: "Neue Haas Display thin italic", sans-serif;
  --font-neue-extra-thin: "Neue Haas Display extra thin", sans-serif;
  --font-neue-extra-thin-italic: "Neue Haas Display extra thin italic", sans-serif;
  --font-trade-winds: "Trade Winds", system-ui;

  --gap: 2vh;
  --rounded: 2rem;
  --animation-duration: 400ms;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--white);
  background-color: var(--black);
  font-family: var(--font-neue-roman);
}

.app {
  position: relative;
}

.gradient {
  font-family: var(--font-neue-medium);
  background: linear-gradient(90deg, #ff00a6, #a200ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-pink {
  font-family: var(--font-neue-bold);
  background: linear-gradient(90deg, #ff85c8, #8196ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bold {
  color: var(--white);
  font-family: var(--font-neue-medium);
}

.home__landing__wrapper__content__introduction__cta__projects {
  position: relative;
  background: url("/assets/image/resume-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home__landing__wrapper__content__introduction__cta__projects::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: var(--rounded);
}

.home__landing__wrapper__content__introduction__cta__projects > * {
  position: relative;
  z-index: 2;
}

.home__landing__wrapper__content__introduction__cta__blogs {
  position: relative;
  background: url("/assets/image/blogs-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.home__landing__wrapper__content__introduction__cta__blogs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: var(--rounded);
}

.home__landing__wrapper__content__introduction__cta__blogs > * {
  position: relative;
  z-index: 2;
}

.home__projects__container__project__client__wrapper {
  background: url("/assets/image/exp-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
}

.home__contact {
  background: url("/assets/image/contact-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
}

.nav {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 80dvh;
  width: 100%;
  height: 20dvh;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  display: flex;
  padding: 3.6dvh 0;
  align-items: center;
  justify-content: center;
}

.nav__wrapper {
  width: auto;
  padding: 0.5dvw;
  height: 12dvh;
  display: flex;
  min-width: 2dvw;
  border-radius: 1dvw;
  backdrop-filter: blur(1px);
  background-color: #4a4a4a90;
  transition: all 1s ease-in-out;
}

.nav__wrapper__logo {
  gap: 1dvw;
  display: flex;
  padding: 0 1dvw;
  align-items: center;
  border-radius: 0.75dvw;
  text-decoration: none;
  justify-content: center;
  transition: background-color 1s ease-in-out;
  background-color: rgba(10, 10, 10, 0.9);
}

.nav__wrapper__logo h1 {
  font-size: 1.5dvw;
  color: #ffffff;
  font-family: var(--font-trade-winds);
}

.nav__wrapper__links {
  display: flex;
  padding: 0.5dvw;
  margin-left: 0.5dvw;
  align-items: center;
  border-radius: 0.75dvw;
  justify-content: center;
  background-color: #3e3e3e;
  transition: all 1s ease-in-out;
}

.nav__wrapper__links__wrapper {
  gap: 0.5dvw;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__wrapper__links__wrapper__link {
  z-index: 1;
  height: 100%;
  display: flex;
  font-size: 1.1dvw;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-radius: 0.5dvw;
  text-decoration: none;
  justify-content: center;
  color: rgb(228, 228, 228);
  padding: 0 1dvw;
  border: 1px solid rgb(82, 82, 82);
  transition: all var(--animation-duration) ease-in-out;
}

.nav__wrapper__links__wrapper__link .staggered-text {
  transition: all var(--animation-duration) ease-in-out;
}

.nav__wrapper__links__wrapper__link .staggered-text span {
  position: relative;
  display: inline-block;
  transform: translateY(0);
  transition: all var(--animation-duration) ease-in-out;
  transition-delay: calc(25ms * var(--i));
}

.nav__wrapper__links__wrapper__link .staggered-text span::before {
  position: absolute;
  font-size: 1.1dvw;
  color: #fff;
  font-weight: 500;
  top: 10dvh;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
  white-space: pre;
}

.nav__wrapper__links__wrapper__link::before {
  content: "";
  z-index: -1;
  left: 0;
  top: 0;
  scale: 2;
  right: 0;
  bottom: 0;
  overflow: hidden;
  position: absolute;
  border-radius: 100%;
  transition: all var(--animation-duration) ease-in-out;
  background-color: #181818;
  transform: translate(-100%, 100%);
}

.nav__wrapper__links__wrapper__link:hover {
  color: var(--white);
  border: 1px solid #181818;
}

.nav__wrapper__links__wrapper__link:hover .staggered-text span {
  transform: translateY(-10dvh);
  transition-delay: calc(25ms * var(--i));
}

.nav__wrapper__links__wrapper__link:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(0, 0);
}

.nav__wrapper__external {
  gap: 0.5dvw;
  display: flex;
  align-items: center;
  border-radius: 1.25dvw;
}

.nav__wrapper__external a {
  z-index: 1;
  height: 100%;
  display: flex;
  padding: 0 1dvw;
  color: white;
  overflow: hidden;
  font-size: 1.25dvw;
  position: relative;
  align-items: center;
  text-decoration: none;
  border-radius: 0.75dvw;
  justify-content: center;
  transition: all 1s ease-in-out;
  border: 1px solid rgba(24, 24, 24, 0.9);
  background-color: rgba(24, 24, 24, 0.9);
}

.nav__wrapper__external a.blogs-link {
  padding: 0 1.5dvw;
}

.nav__wrapper__external a:hover {
  color: black;
}

.nav__wrapper__external a::before {
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
  top: 100%;
  bottom: 0;
  right: 100%;
  background-color: white;
  transition: all 400ms ease-in-out;
  border-radius: 100%;
}

.nav__wrapper__external a:hover::before {
  top: 0;
  right: 0;
  scale: 2;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 9999;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.lottie-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lottie-wrapper .loading-animation {
  width: 100%;
  object-fit: cover;
}

.blogs__content__empty-state {
  gap: 1dvh;
  width: 100%;
  height: 25dvh;
  display: flex;
  border-radius: 2dvw;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--light-black);
}

.blogs__content__empty-state h1 {
  font-size: 3dvw;
}

.blogs__content__empty-state p {
  font-size: 1.5dvw;
}

.resume__iframe {
  width: 100%;
  border: none;
  height: 80dvh;
  border-radius: 0.5dvw;
}

.action-button {
  z-index: 10;
  top: 3.5dvh;
  left: 2dvw;
  height: 10dvh;
  position: absolute;
}

.action-button a {
  padding: 1dvw;
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 1.25dvw;
  align-items: center;
  border-radius: 0.25dvw;
  text-decoration: none;
  justify-content: center;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.479);
  backdrop-filter: blur(1px);
}

.contact__wrapper__form,
.contact__wrapper__links {
  padding: 2dvw 2dvw;
  border-radius: 2dvw;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-color: rgba(140, 0, 131, 0.21);
}

.contact__wrapper__links__buttons a {
  z-index: 1;
  width: 100%;
  display: grid;
  color: white;
  padding: 0.5dvw;
  overflow: hidden;
  font-size: 1.75dvw;
  position: relative;
  place-items: center;
  text-decoration: none;
  border-radius: 0.25dvw;
  border: 1px solid white;
  transition: all 400ms ease-in-out;
}

.contact__wrapper__links__buttons a:hover {
  color: #8800ff;
}

.contact__wrapper__links__buttons a::before {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 100%;
  right: 100%;
  background-color: white;
  scale: 1;
  transition: all 400ms ease-in-out;
}

.contact__wrapper__links__buttons a:hover::before {
  top: 0;
  right: 0;
  border-radius: 100%;
  scale: 2;
}

.project-cta a {
  color: #dd00ff;
  padding: 0.5dvw 2dvw;
  font-size: 1.25dvw;
  border-radius: 0.5dvw;
  text-decoration: none;
  font-family: var(--font-neue-medium);
  border: 1px solid rgba(175, 0, 255, 0.29);
  transition: all 300ms ease-in-out;
}

.project-cta a:hover {
  color: #ffffff;
  background-color: #dd00ff;
}

.submit-btn {
  z-index: 1;
  position: relative;
  border: none;
  cursor: pointer;
  font-size: 1.25dvw;
  padding: 0.75dvw 2dvw;
  border-radius: 0.2dvw;
  background-color: white;
  font-family: var(--font-neue-medium);
  transition: all 400ms ease-in-out;
  color: black;
}

.submit-btn.enabled:hover {
  color: white;
  background-color: #d700c9;
}

.submit-btn.disable {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 600px) {
  .nav {
    top: 83dvh;
  }

  .nav__wrapper {
    gap: 1dvw;
    padding: 1.5dvw;
    height: 12dvh;
    border-radius: 2dvw;
  }

  .nav__wrapper__logo {
    padding: 0 4dvw;
    border-radius: 2dvw;
  }

  .nav__wrapper__logo h1 {
    font-size: 5dvw;
  }

  .nav__wrapper__links__wrapper {
    gap: 1dvw;
    padding: 1dvw;
    border-radius: 2dvw;
  }

  .nav__wrapper__links__wrapper__link {
    font-size: 5dvw;
    padding: 0 3dvw;
    border-radius: 2dvw;
  }

  .nav__wrapper__links__wrapper__link .staggered-text span::before {
    font-size: 5dvw;
  }

  .nav__wrapper__external {
    display: none;
  }

  .loading {
    transform: scale(2);
  }

  .blogs__content__empty-state h1 {
    font-size: 8dvw;
  }

  .blogs__content__empty-state p {
    font-size: 6dvw;
  }

  .resume {
    height: 86dvh;
    flex-direction: column;
  }

  .resume__iframe {
    height: 75dvh;
  }

  .action-button {
    position: relative;
    width: 100%;
    height: 10dvh;
    display: flex;
    margin-top: 2dvh;
    border-radius: 2dvw;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
  }

  .action-button a {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    font-size: 5dvw;
    border-radius: 2dvw;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    border: 1px solid white;
  }

  .contact__wrapper__links__buttons a {
    padding: 1.5dvw;
    font-size: 6dvw;
  }

  .project-cta a {
    width: 100%;
    height: 10vh;
    font-size: 8dvw;
    display: grid;
    place-items: center;
  }

  .submit-btn {
    width: 100%;
    height: 100%;
    font-size: 6dvw;
  }
}

.Toastify__progress-bar {
  background: #d700c9 !important;
}
